<!DOCTYPE html>
<html ng-app="musicApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Music App</title>
    <script src="angular.js"></script>
    <script>

        var app = angular.module("musicApp", []).controller("MainCtrl", function ($scope, $http) {

            $scope.getMusicData = function () {
                $http.get('musicData.json').then(function (result) {
                    $scope.musicData = result.data;

                    console.log('Music Data loaded OK.');

                });


            };
        });
    </script>
</head>
<body ng-controller="MainCtrl">
<h2>Music People</h2>
<table>
    <thead>
    <tr>
        <th>Band Name</th>
        <th>Song Name</th>
    </tr>
    </thead>
    <tbody><tr ng-repeat="band in musicData"><td>{{band.name}}</td><td>{{band.song}}</td></tr></tbody>
    <button ng-click="getMusicData()">Get Music</button>
</table>
</body>
</html>